
.PortfolioCard {
    flex:1 1 300px;
    margin:5px;
    border-radius:15px 0;
    box-shadow:5px 5px 20px black;
    position: relative;
}

.PortfolioCard img {
    width: 50%;
    border-radius:15px 0;
}

.PortfolioCard .overlay{
    position:absolute;
    top:0;
    background: rgba(255, 255, 255, 0.7);
    height:100%;
    width:100%;
    border-radius:15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.PortfolioCard .overlay .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.PortfolioCard:hover .overlay{
    display: flex;
}